[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
peewee = "*"
requests = "*"
xxhash = "*"
flask = "*"
flask-cors = "*"
psutil = "*"
python-dateutil = "*"
frameioclient = {editable = true, git = "https://github.com/Frameio/python-frameio-client.git", ref = "jh/helper-functions"}

[requires]
python_version = "3.9.5"
